.ct-notes .markdown-body {
    white-space: normal;

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    a {
        color: #c53131;
        text-decoration: none;
    }

    a:hover {
        color: #000;
        text-decoration: underline;
    }
}